.container{
    display: flex;
    color: white;
    margin-bottom: 10px;
}

.container i {
    margin-right: 26px;
    margin-top: 5px;
    font-size: 17px;
}
.container p {
   margin: 0px;
   font-size: 18px;
   font-weight: 300;
}