.container{
    color: #212121;
}
 
.container .head{
    border-top: 2px solid #19C8FA;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .head h2{
    font-size: 60px;
    position: relative;
}
.container .head h2::before{
    content: '$';
    font-size: 20px;
    position: absolute;
    left: -21px;
    top: 3px;
    font-weight: bold;
}
.container .head h2::after{
    content: '/MO';
    position: absolute;
    bottom: 7px;
    right: -38px;
    font-weight: bold;
    font-size: 15px;
}


/*  */
.container .features ul{
    margin: 0px;
    padding: 0px;
    border-top: 2px solid #19C8FA;
    border-bottom: 2px solid #19C8FA;
   
    display: flex ; 
    flex-direction: column ; 
    align-items: center ; 
    
}
.container .features ul li {
    padding: 20px 10px;
    background-color: white;
    width: 141px;
    text-align: center;
}
.container .features ul li:not(:nth-child(4)) {
    border-bottom: 2px solid #19C8FA;
    transition: 0.3s;
}
.container .features ul li:hover, 
.container .price-btn div:hover
{
 
    box-shadow: 0px -1px 17px rgba(25, 200, 250,0.7);
}

.container .price-btn{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    
}
.container .price-btn div{ 
    padding: 15px 10px;
    width: 141px;
    border: 1px solid #19C8FA;
    text-align: center;
}

/* contact Design */
 



 