/*  Start Golbal Rules */
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans' ,sans-serif;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
body{
  background-color: black;
}
/*  End Golbal Rules */


